.vs/MVC.ERPWEB/DesignTimeBuild/.dtbcache.v2
.vs/MVC.ERPWEB/FileContentIndex/1a3d65b6-d5d4-455d-8ad8-24ac09892a56.vsidx
.vs/MVC.ERPWEB/FileContentIndex/4b6204c5-ef71-42ed-88b8-757e3c9816f5.vsidx
.vs/MVC.ERPWEB/FileContentIndex/b4c578ba-4b84-4caf-9527-ca04d6c6f78e.vsidx
.vs/MVC.ERPWEB/v17/.suo
MVC.ERPWEB/obj/Debug/net7.0/refint/MVC.ERPWEB.dll
MVC.ERPWEB/obj/Debug/net7.0/ref/MVC.ERPWEB.dll
MVC.ERPWEB/obj/Debug/net7.0/MVC.ERPWEB.dll
MVC.ERPWEB/bin/Debug/net7.0/MVC.ERPWEB.pdb
.vs/MVC.ERPWEB/FileContentIndex/3c996db8-875b-4605-851b-15be0c120f05.vsidx
.vs/MVC.ERPWEB/FileContentIndex/6aa06acb-5c07-4682-939c-c9b3fbf4c575.vsidx
.vs/MVC.ERPWEB/FileContentIndex/aab84c90-b95b-46c1-a89b-7eecfeb75241.vsidx
MVC.ERPWEB/bin/Debug/net7.0/MVC.ERPWEB.dll
MVC.ERPWEB/obj/Debug/net7.0/MVC.ERPWEB.pdb
