<div class="email-wrapper rounded border bg-white">
    <div class="row no-gutters justify-content-center">
        <div class="col-lg-4 col-xl-3 col-xxl-2">
            <div class="email-left-column email-options p-4 p-xl-5">
                <a href="email-compose.html" class="btn btn-block btn-primary btn-pill mb-4 mb-xl-5">Compose</a>
                <ul class="pb-2">
                    <li class="d-block active mb-4">
                        <a href="email-inbox.html">
                            <i class="mdi mdi-download mr-2"></i> Inbox
                        </a>
                        <span class="badge badge-secondary">20</span>
                    </li>
                    <li class="d-block mb-4">
                        <a href="#">
                            <i class="mdi mdi-star-outline mr-2"></i> Favorite
                        </a>
                        <span class="badge badge-secondary">56</span>
                    </li>
                    <li class="d-block mb-4">
                        <a href="#">
                            <i class="mdi mdi-playlist-edit mr-2"></i> Drafts
                        </a>
                    </li>
                    <li class="d-block mb-4">
                        <a href="#">
                            <i class="mdi mdi-open-in-new mr-2"></i> Sent Mail
                        </a>
                    </li>
                    <li class="d-block mb-4">
                        <a href="#">
                            <i class="mdi mdi-trash-can-outline mr-2"></i> Trash
                        </a>
                    </li>
                </ul>
                <p class="text-dark font-weight-medium">Labels</p>
                <ul>
                    <li class="mt-4">
                        <a href="#">
                            <i class="mdi mdi-checkbox-blank-circle-outline text-primary mr-3"></i>Work
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="#">
                            <i class="mdi mdi-checkbox-blank-circle-outline text-warning mr-3"></i>Private
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="#">
                            <i class="mdi mdi-checkbox-blank-circle-outline text-danger mr-3"></i>Family
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="#">
                            <i class="mdi mdi-checkbox-blank-circle-outline text-success mr-3"></i>Friends
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9 col-xxl-10">
            <div class="email-right-column p-4 p-xl-5">
                <!-- Email Right Header -->
                <div class="email-right-header mb-5">
                    <!-- head left option -->
                    <div class="head-left-options">
                        <button type="button" class="btn btn-icon btn-outline btn-rounded-circle">
                            <i class="mdi mdi-refresh"></i>
                        </button>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle border rounded-pill" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
                                 style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- head right option -->
                    <div class="head-right-options">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn border btn-pill">
                                <i class="mdi mdi-chevron-left"></i>
                            </button>
                            <button type="button" class="btn border btn-pill">
                                <i class="mdi mdi-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="border rounded email-details">

                    <div class="email-details-header">
                        <h4 class="text-dark">Introducing our new tool</h4>
                    </div>

                    <div class="email-details-content">
                        <div class="email-details-content-header">

                            <div class="media media-sm mb-lg-0">
                                <div class="media-sm-wrapper">
                                    <img src="~/assets/images/user/user-sm-03.jpg" alt="User Image">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 text-dark font-weight-bold">Larissa Gebhardt</h6>
                                    <span>
                                        From:
                                        <i class="mdi mdi-chevron-left"></i>selena.oi
                                        <i class="mdi mdi-chevron-right"></i>to me
                                    </span>
                                </div>
                            </div>

                            <div class="email-details-content-header-right">
                                <time class="p-1 p-xl-2">Mar 18</time>

                                <a class="text-color p-1 p-xl-2" href="#">
                                    <i class="mdi mdi-star-outline"></i>
                                </a>

                                <a class="text-color p-1 p-xl-2" href="#">
                                    <i class="mdi mdi-attachment"></i>
                                </a>

                                <div class="btn-group p-1 p-xl-2" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-pill mdi mdi-reply"></button>
                                    <button type="button" class="btn btn-pill mdi mdi-printer"></button>
                                    <button type="button" class="btn btn-pill mdi mdi-trash-can-outline"></button>
                                </div>

                                <div class="dropdown">

                                    <a class="btn dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <p class="pb-4">Hi Selena</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <br>
                        <p>
                            Perspiciatis unde omnis iste natus error sit voluptatem accusantium oloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                        </p>
                        <p class="pt-4">
                            <i class="fa fa-paperclip ml-2"></i>
                            <span class="text-dark">4 Attachments</span>
                        </p>
                        <div class="email-img d-inline-block rounded overflow-hidden mt-3 mt-lg-4 mr-2 mr-md-3 mr-lg-4">
                            <img src="~/assets/images/products/pa1.jpg" alt="Product">
                        </div>
                        <div class="email-img d-inline-block rounded overflow-hidden mt-3 mt-lg-4 mr-2 mr-md-3 mr-lg-4">
                            <img src="~/assets/images/products/pa2.jpg" alt="Product">
                        </div>
                        <div class="email-img d-inline-block rounded overflow-hidden mt-3 mt-lg-4 mr-2 mr-md-3 mr-lg-4">
                            <img src="~/assets/images/products/pa3.jpg" alt="Product">
                        </div>
                        <div class="email-img d-inline-block rounded overflow-hidden mt-3 mt-lg-4 mr-2 mr-md-3 mr-lg-4">
                            <img src="~/assets/images/products/pa4.jpg" alt="Product">
                        </div>

                        <div class="email-content-footer mt-5 pb-5 px-4 pt-4 border rounded">
                            <p>
                                Click here to
                                <a class="text-blue btn btn-primary btn-pill ml-2" href="#">Reply</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

        </div>

      </div>
    </div>

<!-- Card Offcanvas -->
<div class="card card-offcanvas" id="contact-off">
    <div class="card-header">
        <h2>Contacts</h2>
        <a href="#" class="btn btn-primary btn-pill px-4">Add New</a>
    </div>
    <div class="card-body">

        <div class="mb-4">
            <input type="text" class="form-control form-control-lg form-control-secondary rounded-0" placeholder="Search contacts...">
        </div>

        <div class="media media-sm">
            <div class="media-sm-wrapper">
                <a href="user-profile.html">
                    <img src="~/assets/images/user/user-sm-01.jpg" alt="User Image">
                    <span class="active bg-primary"></span>
                </a>
            </div>
            <div class="media-body">
                <a href="user-profile.html">
                    <span class="title">Selena Wagner</span>
                    <span class="discribe">Designer</span>
                </a>
            </div>
        </div>

        <div class="media media-sm">
            <div class="media-sm-wrapper">
                <a href="user-profile.html">
                    <img src="~/assets/images/user/user-sm-02.jpg" alt="User Image">
                    <span class="active bg-primary"></span>
                </a>
            </div>
            <div class="media-body">
                <a href="user-profile.html">
                    <span class="title">Walter Reuter</span>
                    <span>Developer</span>
                </a>
            </div>
        </div>

        <div class="media media-sm">
            <div class="media-sm-wrapper">
                <a href="user-profile.html">
                    <img src="~/assets/images/user/user-sm-03.jpg" alt="User Image">
                </a>
            </div>
            <div class="media-body">
                <a href="user-profile.html">
                    <span class="title">Larissa Gebhardt</span>
                    <span>Cyber Punk</span>
                </a>
            </div>
        </div>

        <div class="media media-sm">
            <div class="media-sm-wrapper">
                <a href="user-profile.html">
                    <img src="~/assets/images/user/user-sm-04.jpg" alt="User Image">
                </a>

            </div>
            <div class="media-body">
                <a href="user-profile.html">
                    <span class="title">Albrecht Straub</span>
                    <span>Photographer</span>
                </a>
            </div>
        </div>

        <div class="media media-sm">
            <div class="media-sm-wrapper">
                <a href="user-profile.html">
                    <img src="~/assets/images/user/user-sm-05.jpg" alt="User Image">
                    <span class="active bg-danger"></span>
                </a>
            </div>
            <div class="media-body">
                <a href="user-profile.html">
                    <span class="title">Leopold Ebert</span>
                    <span>Fashion Designer</span>
                </a>
            </div>
        </div>

        <div class="media media-sm">
            <div class="media-sm-wrapper">
                <a href="user-profile.html">
                    <img src="~/assets/images/user/user-sm-06.jpg" alt="User Image">
                    <span class="active bg-primary"></span>
                </a>
            </div>
            <div class="media-body">
                <a href="user-profile.html">
                    <span class="title">Selena Wagner</span>
                    <span>Photographer</span>
                </a>
            </div>
        </div>

    </div>
</div>